.formInput {
    display: flex;
    flex-direction: column;
    width: 300px
}

input {
    padding: 15px;
    margin: 30px;
}

span {
    font-size: 12px;
    padding: 12px;
    color: red; 
    display: none; 
}

input:invalid ~ span {
     display: block;
}